@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", serif;
}

code {
  font-family: "Inter", serif;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
display: none !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  display: none !important;
  }

  .bgwhat{
    background-image: url(../src/assets/WhatIsSec/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .cardimg{
    background-image: url(../src/assets/ExpertsworkingSec/expert.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .bgtheylt{
    background-image: url(../src/assets/TheUltimateSec/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }